!!! XML
!!!
%html
  %head
    %meta{:content=>"text/html", :charset=>"utf-8"}
    %title JenkinsPersonaGenerator For JenkinsPersonaPlugin
  %body
    #main
      %div
        JenkinsPersonaGenerator For
        %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Persona+Plugin'} JenkinsPersonaPlugin
        %br
        %br
    %form{:action=>'/', :method=>'POST', :enctype=>'multipart/form-data'}
      Persona名 ※必須
      %div
        %textarea{:name=>"name", :rows=>"1", :cols=>"80", :style=>"ime-mode:disabled;"}
      Persona表示名
      %div
        %textarea{:name=>"display_name", :rows=>"1", :cols=>"80"}
      %h2 文言
      ビルド成功(green)時文言 (改行区切りで複数指定可能)
      %div
        %textarea{:name=>"successes", :rows=>"3", :cols=>"80"}
      ビルド失敗(red)時文言 (改行区切りで複数指定可能)
      %div
        %textarea{:name=>"failures", :rows=>"3", :cols=>"80"}
      ビルドその他(yellow)時文言 (改行区切りで複数指定可能)
      %div
        %textarea{:name=>"others", :rows=>"3", :cols=>"80"}
      %h2 画像
      アイコン画像 [icon.jpg]
      %div
        %input{:type=>"file", :name=>"image_icon"}
      ビルド成功(green)時画像 [success.jpg]
      %div
        %input{:type=>"file", :name=>"image_success"}
      ビルド失敗(red)時画像 [failure.jpg]
      %div
        %input{:type=>"file", :name=>"image_failure"}
      ビルドその他(yellow)時画像 [other.jpg]
      %div
        %input{:type=>"file", :name=>"image_other"}
      %br  
      %div{:style => "padding-left: 200px"}
        %input{:type=>"submit", :value=>"生成"}
